:root{--col1: white;
    --col2: brown;
}



#navs{
    background-color: rgb(0, 0, 0);
    justify-content: space-between;
    align-items: center;
    padding: 2%,5%;
    display: flex;
}

#navs img{
    width: 200px;
    padding: 50;
    
}

#cover{
    background-position: center;
    position: relative;
    width: 100%;
    min-height: 100vh;
}


/* #links{
    text-align: right;
    flex: 1;

}

#links ul li{
    padding: 5px,5px;
    display: inline-block;
    list-style: none;
    position: relative;
}
#links ul li a{
    color: var(--col1);
    text-decoration: none;
    font-size: 13px;
    padding: 20px;



} */



#links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: var(--col2);
    display: block;
    margin: auto;
    transition: 0.5s;
    
}

#links ul li:hover::after{
    width: 100%;
}



#box{
    width: 90%;
    color: var(--col1);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    text-align: center;


}

#box h1{
    font-size: 80px;
}

#box p{
    margin: 10px,0px,40px;
    font-size: 20px;
    color: var(--col1);
    font-weight: bolder;
}


#box a{
    padding: 15px;
}

#bot {
    background: transparent;
    color: var(--col1);
    display: inline-block;
    text-decoration: none;
    border: 1px solid var(--col1);
    padding: 30px, 64px;
    font-size: 13px;
    position: relative;
    cursor: pointer;
    

}

#bot:hover{
    border: 1px var(--col2);
    background: var(--col2);
    transition: 1s;
}




#f-back{
    background-size:cover;
    background-position: center;
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image:linear-gradient(rgba(6, 11, 34, 0.7),rgba(6,11,34,0.7)), url(./Background.jpg);
}

@media(max-width :700px){
    .row {
        flex-direction: column;

    }
    

   
}

#tea-History{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}

#tea-History p{
    font-weight: bolder;
    text-align: justify;
    padding-bottom: 2%;
}

#tea-History img{
    width: 50%;
    padding-top: 3%;
    
}

#tea-History h3{
    text-align: left;
    font-size: 25px;
    padding-left: 2%;
}


#tea-History h2{
    font-size: 30px;
    text-align: center;

}

#tea-History ul li{
    text-align: left;
}








.dropbtn{
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    

}


.dropdown{
    position: relative;
    display: inline-block;
    padding-right: 5%;

}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

.dropdown-content a:hover{
    background-color: #ddd;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown:hover .dropbtn{
    background-color: #292929;
}


#Exports{
    
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    
    
}

#Export h1{
    padding-bottom: 2%;
    
    
}

#expo {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    
  }
  
  #expo td, #expo th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #expo tr:nth-child(even){background-color: #f2f2f2;}
  
  #expo tr:hover {
    background-color: rgb(121, 121, 121);
    color: white;

  }
  
  #expo th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #8a0000;
    color: white;
  }

  @media(max-width:700px){
    #Export{
        padding: 10%;
    }
  }


@media(max-width:700px){
    #navs img{
        width: 100px;
        
    }

    .dropdown{
        padding-right: 10%;
    }

    #box h1{
        font-size: 40px;
    }

    
}






#factory{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

#factory ol li{
    text-align: justify;
    padding-left: 5%;
    padding-bottom: 2%;

}

#f-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

#f-col img {
    width: 100%;
    border-radius: 10px;
}

#f-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
}

#row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}













#types{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
  
}
h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    color: rgb(56, 56, 56);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

#row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

#t-col {
    flex-basis: 31%;
    border-radius: 10%;
    margin-bottom: 5%;
    padding: 20px,12px;
    box-sizing: border-box;
    background-color: rgb(183, 183, 183);
    transition: 0.5s;
}
h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px,0;
}

#t-col:hover{
    box-shadow: 0 0 20px 0px  black;

}

@media(max-width :700px){
    #row {
        flex-direction: column;

    }
    

   
}




.footer{
    background-color: #292929;
    color: white;
    text-align: center;
}


.footer p{
    color: white;
}


.footer img{
    width: 30px;
    padding-left: 1%;

}